
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs log-card">
    <h2 class="text-center mt-4"><%= @user.first_name %> <%= @user.last_name  %></h2>
    <%= f.input :email, required: false, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password, label:"Ingresa tu nueva clave: ",
                hint: "Deja en blanco si no lo queres editar",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, label:"Repeti tu nueva clave: ",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,label:"Ingresa tu clave actual: ",
                hint: "Por tu seguridad necesitamos tu clave actual",
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Update", class:"btn btn-dark" %>
    </div>
  </div>

<% end %>
