<div class="container">
  <div class="log-card mt-4">
    <h3 class="text-center">Actualice su garage</h3>
    <div class="form">
      <div class="form-inputs">
        <%= simple_form_for @garage do |f| %>
          <%= f.input :title, label:"Titulo:", required: false %>
          <%= f.input :phone_number, label:"Teléfono:", required: false %>
          <%= f.input :address, label:"Dirección:", required: false %>
          <%= f.input :dimensions, label:"Dimensiones:", required: false %>
          <%= f.input :price_per_day, label:"Precio por dia:", required: false %>
          <%= f.input :description, label:"Descripción:", required: false %>
          <%= f.input :photo, as: :file, label:"Actualice imágen:", required: false %>
          <%= f.button :submit, value:"Actualizar", class: "btn btn-outline-dark"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
