<div class="container">
<h1 class="text-center mt-3">Garages destacados</h1>
  <div class="row">
        <div class="col-md-4 my-3">
          <div class="card-img-top">
          <ul>
            <% @garages.each do |garage| %>
              <li>
               <% if garage.photo.attached? %>
                <%= cl_image_tag garage.photo.key, class: "img-fluid" %>
              <% else %>
                <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/1200px-Imagen_no_disponible.svg.png") %>
              <% end %>
                <h4><%=garage.title  %></h4>
                <p><%= garage.description %></p> 
                <p> <%= garage.price_per_hour %></p>
              </li> 
             <% end %>
          </ul>
          </div>
          <div class="card-footer text-center">
            <%# ALQUILAR %>
           <a class="btn btn-dark"href=#>Alquilar</a>
            <%# VER MAS %>
            <a class="btn btn-warning"href=#>Ver mas</a>
          </div>
        </div>
    </div>

  </div>