
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path @garage.photo.key %>)">
  <h1 id="tituloo"> <%= @garage.title  %> </h1>
</div>

  <div id="arriba" class="cards mx-4">

      <div id="foto"class="card-category col align-self-center ">
        <% if @garage.photo.attached? %>
          <%= cl_image_tag @garage.photo.key, height: 300, width: 450, crop: :fill, class: "img-fluid"%>
        <% else %>
          <%= cl_image_tag "nodisponible", height: 300, width: 300, crop: :fill, class: "img-fluid" %>
        <% end %>
      </div>

      <div id="medio" class="card-category">
        <h1 class="text-center mt-3"><%= @garage.title %></h1>
        <p class="text-center"><%= @garage.description %></p>
        <p class="text-center"><strong> Puntaje: </strong>⭐⭐⭐⭐<p>
        <p class="text-center"><strong> Direccion: </strong><%= @garage.address %></p>
        <p class="text-center"><strong> Precio: </strong> $ <%= @garage.price_per_hour %> / Hora <p>
      </div>

      <div class="card-category">
        <div id="formulario" class="container text-center">
          <%= simple_form_for [ @garage, @reservation ] do |f| %>
            <%= f.input :start_at, label:"Fecha y hora de comienzo:",required:false %>
            <%= f.input :finish_at, label:"Fecha y hora fin:", required:false %>
            <%= f.submit "Alquilar", class:"btn btn-dark" %>
          <% end %>
        </div>
      </div>
  </div>
