<h1>Tus reservas</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Precio</th>
        <th>Disponible</th>
      </tr>
    </thead>
  <tbody>
    <% @reservations.each do |reservation| %>

    <tr>
      <td><%= reservation.user.email %></td>
      <td> <%= reservation.start_at %></td>
      <td><%= reservation.finish_at %></td>
      <td><%= reservation.price %></td>
      <td><%= reservation.reservation_status %> </td>
      <td> Confirmar</td>
      <td> Rechazar </td>
     <% end %>
    </tr>
  </tbody>
  </table>
</div>
<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->
