<div class="container mt-3">
<h1 class="textito text-center">Tus reservas</h1>
<% if @reservations.empty? %>
  <div >
    <h3 class="textito text-center mt-3"> No hay reservas disponibles </h3>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Garage</th>
        <th>Direccion</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Precio</th>
      </tr>
    </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
     <% if reservation.garage.photo.attached? %>
        <td> <%= cl_image_tag reservation.garage.photo.key, height: 80, width: 100, crop: :fill, class: "img-fluid" %></td>
      <% else %>
         <td><%= cl_image_tag "nodisponible", height: 80, width: 100, crop: :fill, class: "img-fluid" %></td>
      <% end %>
      <td><%= link_to "#{reservation.garage.title}", garage_path(reservation.garage.id) %></td>
      <td><%= reservation.garage.address %></td>
      <td> <%= reservation.start_at %></td>
      <td><%= reservation.finish_at %></td>
      <td><%= reservation.price %></td>
      <td> <%= link_to "Cancelar", reservation_path(reservation.id), method: :delete, class: "btn btn-danger"  %></td>
     <% end %>
    </tr>
  </tbody>
  </table>
<% end %>
  <div class="d-flex justify-content-center mt-4">
    <%= link_to "Volver", root_path, class: "btn btn-outline-dark mr-2" %>
  </div>
</div>
<div class="fixed-bottom">
<%= render 'shared/footer' %>
</div>
